.footer {
  background-color: #1e293b;
  color: #e5e7eb;
  text-align: center;
  padding: 1.2rem 1rem;
  margin-top: 3rem;
  font-family: "Poppins", sans-serif;
}

.footer p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
}

.footer-sub {
  font-size: 0.8rem;
  color: #94a3b8;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .footer {
    padding: 1rem 0.8rem;
  }

  .footer p {
    font-size: 0.85rem;
  }
}
