.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f3f4f6; /* light gray background */
}

.form-box {
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.form-title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #4f46e5;
}

.form-input {
  width: 95%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.form-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #4338ca;
}

.form-footer {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.form-footer a {
  color: #007bff;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}
